---
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

    # Connection validation
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      cacheLevel: "High"
      disableMetricsLookup: false

    # Health check configuration
    version: 1
    readOnly: true

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    editable: false

    # Connection validation
    jsonData:
      httpMethod: GET
      tracesToMetrics:
        datasourceUid: 'prometheus'
      serviceMap:
        datasourceUid: 'prometheus'
      search:
        hide: false
      nodeGraph:
        enabled: true

    version: 1
    readOnly: true

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false

    # Connection validation
    jsonData:
      httpMethod: GET
      maxLines: 1000
      derivedFields:
        - datasourceUid: 'tempo'
          matcherRegex: "traceID=(\\w+)"
          name: TraceID
          url: '$${__value.raw}'

    version: 1
    readOnly: true

  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager:9093
    editable: false

    # Connection validation
    jsonData:
      httpMethod: GET
      implementation: prometheus

    version: 1
    readOnly: true
